################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BethanysPieShop/.vs/BethanysPieShop/v16
/BethanysPieShop/BethanysPieShop/bin/Debug/netcoreapp3.1
/BethanysPieShop/BethanysPieShop/obj
